body{
    font-family: 'Poppins', sans-serif;

}
h1{
    font-size: 50px;
}
.color{
    color: orange;
}
section{
    display: flex;
}
.hafe-width{
    width: 50%;
    padding-left:10px ;
}
.hafe-width img{
    width: 70%;
}
.link-buttom{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    font-weight: 400;
    padding: 10px 40px;
    border-radius: 5px;
}